@font-face {
  font-family: samskeyti;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/samskeyti-Regular.otf) format('opentype');
}
body{
    background-image: url(http://d13pix9kaak6wt.cloudfront.net/background/samskeyti79_1340018437_84.jpg);
}
#header{
  background-color: #0776A0;
}
.my-font{
  font-family: 'samskeyti';
}
#header h1.my-font{
  font-size:3em;
  margin-bottom: 1em;
  letter-spacing: -2px;
}
