@font-face {
  font-family: samskeyti;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/samskeyti-Regular.otf) format('opentype');
}
body{
    background-image: url(../images/WP_20140504_13_02_00_Pro-001.jpg);
}
#header{
  background-color: #0776A0;
}
.my-font{
  font-family: 'samskeyti';
}
#header h1.my-font{
  font-size:3em;
  margin-bottom: 1em;
  letter-spacing: -2px;
}
.ce-banner{
  padding: 3px;
  background-color: #000;
}
